
.slick{
  padding-bottom: 104px;
}
.slider-box{
    text-align: center;
    margin-bottom: 50px;
}
// .slider{
//     background-color: red;
// }

.slider-content{
    max-width: 780px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.slider-content__title{
    font-weight: 700;
    font-size: 20px;
    line-height: 1.3;
    color: $main-color;
    margin-bottom: 14px;
    
}
.slider-content__text{
    font-weight: 300;
    font-size: 20px;
    line-height: 1.3;
    color: $text-color;
    text-align: center;
    margin-bottom: 20px;
    
}

.slider-content__link{
  font-family: 'Waiting for the Sunrise';
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 1.7;
  color: $blue-color;
  margin-bottom: 20px;
  transition: all .4s;
}
.slider-content__link:hover{
  color: $pink-color-dark;
}
.slider-content__link:focus{
  color: $pink-color-dark;
}
.slider-icon-next {
  position: absolute;
  border-radius: 50%;
  border: 2px solid $pink-color-dark;
  right: 40px;
  top: 10%;
  stroke: $pink-color-dark;
  transition: all .4s;
}
.slider-icon-next:hover {
  border: 2px solid $blue-color;
  stroke: $blue-color;
}

.slider-icon-prev {
  position: absolute;
  border-radius: 50%;
  border: 2px solid $pink-color-dark;
  left: 40px;
  top: 10%;
  z-index: 3;
  stroke: $pink-color-dark;
  transition: all .4s;
}
.slider-icon-prev:hover {
  border: 2px solid $blue-color;
  stroke: $blue-color;
}

.slick-dots li.slick-active button:before{
  color: $pink-color-light;
}
.slick-dots li button:before{
  color: $green-light;
  font-size: 22px;
  opacity: 2;
}

