.title-second {
  font-weight: 700;
  font-size: 50px;
  line-height: 1.2;
  color: $main-color;
  &.-white {
    color: $white-color;
  }
}
.title-third {
  font-weight: 400;
  font-size: 30px;
  line-height: 1.3;
  color: $main-color;
  margin-bottom: 12px;
}
.text-main {
  font-weight: 400;
  font-size: 15px;
  line-height: 1.6;
  color: $text-color;
}
.text-pink {
  font-family: 'Waiting for the Sunrise';
  font-style: normal;
  font-weight: 300;
  font-size: 30px;
  line-height: 1.7;
  color: $pink-color-light;
}

@media (max-width: 900px) {
  .title-third {
    font-size: 28px;
    line-height: 1.1;
    margin-bottom: 10px;
  }
}

@media (max-width: 768px) {
  .title-second {
    font-weight: 700;
    font-size: 40px;
  }
  .title-third {
    font-size: 24px;
    line-height: 1.1;
    margin-bottom: 8px;
  }

  .text-pink {
    font-size: 24px;
    line-height: 1.5;
  }
}
@media (max-width: 768px) {
  .title-second {
    font-weight: 700;
    font-size: 34px;
  }
  .title-third {
    font-size: 22px;
    line-height: 1.1;
    margin-bottom: 8px;
  }
  .text-pink {
    font-size: 20px;
    line-height: 1.2;
  }
}
