@media (max-width: 1600px) {
  // hero
  .detox__block {
    position: absolute;
    bottom: 65%;
    left: 2%;
  }

  // section -1

  .assortment-wraper {
    display: none;
  }
  // section-4
  .blog-accent {
    display: none;
  }
}

@media (max-width: 1200px) {
  .container {
    padding: 0 15px;
  }
  // hero
  .hero__block {
    margin-top: -90px;
    margin-bottom: 20px;
  }
  .detox__text {
    font-size: 220px;
    line-height: 380px;
    letter-spacing: 1.7;
  }
  .detox__text::after {
    width: 100px;
    height: 100px;
  }
  .detox__text::before {
    font-size: 40px;
    line-height: 1.4;
    letter-spacing: 8px;
  }
  .fresh__text {
    font-size: 140px;
    line-height: 1.4;
  }
  .fresh__text::after {
    width: 90px;
    height: 90px;
  }
  .fresh__text::before {
    width: 180px;
    height: 180px;
  }

  // section -1
  .assortment {
    margin-bottom: 90px;
  }
  // section-5
  .tasty {
    margin-top: -50px;
  }
  .tasty__item {
    width: calc((100% - 63px) / 2);
    align-items: center;
  }
  .tasty__img {
    margin-right: 25px;
    width: 70px;
    height: 70px;
  }
   //slider
  .slider-content{
    max-width: 680px;
}
}
@media (max-width: 900px) {
  .container {
    padding: 0 15px;
  }
  // hero

  .detox__text {
    font-size: 180px;
    line-height: 320px;
    letter-spacing: 1.4;
  }
  .detox__text::after {
    width: 80px;
    height: 80px;
  }
  .detox__text::before {
    font-size: 32px;
    line-height: 1.4;
    letter-spacing: 6px;
  }
  .fresh__block {
    position: absolute;
    top: 10%;
    right: 20%;
  }
  .fresh__text {
    font-size: 100px;
    line-height: 1.2;
  }
  .fresh__text::after {
    width: 70px;
    height: 70px;
  }
  .fresh__text::before {
    bottom: -90px;
    left: 110px;
    width: 120px;
    height: 120px;
  }

  // section -1
  .assortment {
    z-index: 0;
    background: transparent;
    margin-bottom: 60px;
  }
  .assortment__list {
    row-gap: 30px;
  }
  .assortment__item {
    max-width: 300px;
  }

  //section-3

  .subscribe {
    max-width: 40%;
  }
  .subscribe__block {
    max-width: 60%;
  }
  .subscribe__btn {
    font-size: 16px;
    line-height: 1.1;
    width: 110px;
    padding: 10px 18px;
  }

  // section-5
  .tasty {
    margin-top: -100px;
  }
  .tasty-info__title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.1;
  }
  .tasty-info__text {
    font-size: 14px;
    line-height: 1.1;
  }

   //slider
  .slider-content{
    max-width: 500px;
}
  
}
@media (max-width: 768px) {
  .container {
    padding: 0 15px;
  }
  // hero
  .hero__block {
    padding-left: 0;
  }
  .left {
    flex-shrink: 0;
  }
  .detox__block {
    display: none;
  }
  .fresh__block {
    display: none;
  }

  // section -1

  .assortment {
    flex-direction: column;
  }
  .assortment__item {
    max-width: 420px;
    text-align: center;
  }
  .assortment__img {
    max-width: 380px;
  }

  // section-2
  .smoothies__block {
    margin-bottom: 40px;
  }
  // section-3
  .section__subscribe {
    padding-bottom: 100px;
  }
  .subscribe-wraper {
    flex-direction: column;
  }
  .subscribe__block {
    max-width: 100%;
    margin-top: -200px;
  }
  //section-4
  .blog__list {
    flex-direction: column;
  }
  .blog__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  // section-5

  .tasty__list {
    flex-direction: column;
  }
  .tasty__item {
    width: calc(100%);
    justify-content: center;
  }
  //slider
  
  .slider-icon-prev {
    display: none;
  }
  .slider-icon-next {
    display: none;
  }
}

@media (max-width: 480px) {
  .container {
    padding: 0 15px;
  }
  // hero
  .hero__block {
    margin-top: -700px;
  }

  // section -1

  //section-3
  .subscribe__form {
    gap: 12px;
  }
  .subscribe__input {
    max-width: 180px;
    height: 40px;
  }
  .subscribe__btn {
    max-width: 70px;
    height: 40px;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.1;
    padding: 2px 3px;
  }

  // section-4
  .blog__title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.1;
  }

  // section-5
  .tasty__block {
    margin-bottom: 20px;
    padding-top: 4px;
  }
  .tasty-info__title {
    font-size: 18px;
    line-height: 1.1;
  }
  .tasty-info__text {
    font-size: 12px;
    line-height: 1.1;
  }

  // slider
  .slider-box {
    margin-bottom: 20px;
  }
  .slider-content__title {
    font-size: 18px;
    line-height: 1.1;
    margin-bottom: 8px;
  }
  .slider-content__text {
    font-size: 18px;
    line-height: 1.1;
    margin-bottom: 10px;
  }
  .slider-icon-prev {
    display: none;
  }
  .slider-icon-next {
    display: none;
  }
}
