<footer class="footer">
    <div class="container">
    <div class="footer__wraper">
        <div class="footer-work">
            <h5 class="footer__title">Opening Hours</h5>
            <ul class="footer-work__list">
                <li class="footer-work__item">
                    <p class="footer-work__text">Monday <span class="span">/ 9:00 – 20:00</span></p>
                </li>
                <li class="footer-work__item">
                    <p class="footer-work__text">Tuesday <span class="span">/ 9:00 – 20:00</span></p>
                </li>
                <li class="footer-work__item">
                    <p class="footer-work__text">Wednesday <span class="span">/ 9:00 – 20:00</span></p>
                </li>
                <li class="footer-work__item">
                    <p class="footer-work__text">Thursday <span class="span">/ 9:00 – 20:00</span></p>
                </li>
                <li class="footer-work__item">
                    <p class="footer-work__text">Friday <span class="span">/ 9:00 – 20:00</span></p>
                </li>
                <li class="footer-work__item">
                    <p class="footer-work__text">Saturday <span class="span">/ 9:00 – 20:00</span></p>
                </li>
                <li class="footer-work__item">
                    <p class="footer-work__text">Sunday <span class="span">/ CLOSED</span></p>
                </li>
            </ul>

        </div>
        <div class="footer-contact"> 
            <h5 class="footer__title">Contact Info</h5>
            <ul class="footer-contact__list">
                <li class="footer-contact__item">
                    <span class="material-symbols-outlined">
                        call
                    </span>
                    <a class="footer-contact__link -tel">+38 899 4320 32</a>
                </li>
                <li class="footer-contact__item">
                    <span class="material-symbols-outlined">
                        mail
                    </span>
                    <a class="footer-contact__link">hai@aletheme.com</a>
                </li>
                <li class="footer-contact__item">
                    <span class="material-symbols-outlined">
                        distance
                    </span>
                    <a class="footer-contact__link">France, Paris, Lille de la Cite 1p</a>
                </li>
            </ul>
            

        </div>
        
        <div class="footer-gallery">
            <h5 class="footer__title">Instagram feed</h5>
            <ul class="footer-gallery__list">
                <li class="footer-gallery__item">
                    <img src="./images/footer/picture-1.png" alt="" class="footer-gallery__img"></li>
                <li class="footer-gallery__item">
                    <img src="./images/footer/picture-2.png" alt="" class="footer-gallery__img"></li>
                <li class="footer-gallery__item">
                    <img src="./images/footer/picture-3.png" alt="" class="footer-gallery__img"></li>
                <li class="footer-gallery__item">
                    <img src="./images/footer/picture-4.png" alt="" class="footer-gallery__img"></li>
                <li class="footer-gallery__item">
                    <img src="./images/footer/picture-5.png" alt="" class="footer-gallery__img"></li>
                <li class="footer-gallery__item">
                    <img src="./images/footer/picture-6.png" alt="" class="footer-gallery__img"></li>
            </ul>
        
        </div>
    </div>
    </div>
    <div class="footer-bottom">
        <div class="container">
           <div class="footer-bottom__info">
            <p class="footer-bottom__text">Copyrights 2020. Ale Theme for WordPress</p>
            

           <div class="footer-bottom__social">
            <a href="#" class="footer-bottom__link"><svg class="footer-bottom__svg" width="32" height="32"><use href="./images/footer/symbol-defs.svg#icon-fb_icon" ></use></svg></a>
            <a href="#" class="footer-bottom__link"><svg class="footer-bottom__svg" width="32" height="32"><use href="./images/footer/symbol-defs.svg#icon-instagram" ></use></svg></a>
            <a href="#" class="footer-bottom__link"><svg class="footer-bottom__svg" width="38" height="44"><use href="./images/footer/symbol-def.svg#icon-youtube-icon"></use></svg></a>
            <a href="#" class="footer-bottom__link"><svg class="footer-bottom__svg" width="32" height="32"><use href="./images/footer/symbol-defs.svg#icon-Twitter" ></use></svg></a>
           </div>
        </div>
        </div>
    </div>
</footer>