<header>
    <div class="container">
        <nav class="nav__block">
            <div class="hover">
                <button class="header__burger-btn" id="burger">
                    <svg class="burger__svg br">
                        <use href="./images/header/symbol-burger.svg#icon-burger"></use>
                    </svg>
                    <svg class="burger__svg close">
                        <use href="./images/header/symbol-burger.svg#icon-close"></use>
                    </svg>
                </button>
            </div>



            <ul class="nav__list">
                <li class="nav__item">
                    <a href="#" class="nav__link">Home</a>
                </li>
                <li class="nav__item">
                    <a href="#" class="nav__link">About</a>
                </li>
                <li class="nav__item">
                    <a href="#" class="nav__link">Blog</a>
                </li>
            </ul>
            <div class="nav__logo">
                <img src="./images/header/logo.png" alt="logo" class="nav__logo-img">
            </div>
            <ul class="nav__list -top">
                <li class="nav__item">
                    <a href="#" class="nav__link">Menu</a>
                </li>
                <li class="nav__item">
                    <a href="#" class="nav__link">Shop</a>
                </li>
                <li class="nav__item">
                    <a href="#" class="nav__link">Contact</a>
                </li>
            </ul>

        </nav>
    </div>
    
</header>