<section class="section__subscribe">
    <div class="container">
        <div class="subscribe__block">
            <h2 class="title-second">Subscribe here</h2>
            <p class="text-pink">to our news and sale promotions</p>
            <form action="" class="subscribe__form">
                <label for="">
                    <input type="text" class="subscribe__input" placeholder="Your email">
                </label>
                <button type="submit" class="subscribe__btn">Subscribe</button>
            </form>
        </div>
    </div>
</section>