<section>
    <div class="assortment-wraper">
        <div class="kiwi"><img src="./images/section-1/kiwi.png" alt="" class="kiwi__img"></div>
        <div class="paper"><img src="./images/section-1/paper-straw.png" alt="" class="paper__img"></div>
        </div>
        
    <div class="container">
        <div class="assortment">
            <ul class="assortment__list">
                <li class="assortment__item">
                    <h3 class="title-third">Triple Berry Smoothie</h3>
                    <p class="text-main">A smoothie is so much more than blended fruit. It's an art with all of it's
                        different elements blending perfectly
                        together.</p>
                </li>
                <li class="assortment__item">
                    <h3 class="title-third">Pick your fruit</h3>
                    <p class="text-main">We chose strawberries, blackberries, raspberries, and bananas to be our base,
                        but any combo of fruit is great.</p>
                </li>
                <li class="assortment__item">
                    <h3 class="title-third">Fresh or frozen fruit?</h3>
                    <p class="text-main">For smoothies, frozen fruit is best. It blends up thicker than fresh and gives
                        you a really cold smoothie to enjoy when
                        done.</p>
                </li>
            </ul>
            <div class="assortment__img"><img src="./images/section-1/glasses.png" alt="cocktail"
                    class="assortment__pictures"></div>
            <ul class="assortment__list">
                <li class="assortment__item">
                    <h3 class="title-third">Add a thickener.</h3>
                    <p class="text-main">We use unsweetened greek yogurt in our smoothie, but peanut butter, almond
                        butter, or vanilla yogurt are all great
                        options.</p>
                </li>
                <li class="assortment__item">
                    <h3 class="title-third">Choose a liquid</h3>
                    <p class="text-main">Almond milk is great for the added nutty flavor, but coconut milk pairs well
                        with a tropical smoothie.</p>
                </li>
                <li class="assortment__item">
                    <h3 class="title-third">Throw some add-ins in</h3>
                    <p class="text-main">Add some spinach or kale for additional nutrition or flax seeds for omega-3s.
                        Flavors like fresh mint, vanilla extract,
                        cinnamon, or honey</p>
                </li>
            </ul>
        </div>
    </div>
    
    <!-- <div class="paper"><img src="./images/section-1/paper-straw.png" alt="" class="paper__img"></div>
    </div> -->
</section>