<section>
    <div class="container">
        <div class="smoothies__block">
            <h2 class="title-second">Natural Smoothies</h2>
            <p class="text-pink">Drink natural to be stronger</p>
        </div>
        <ul class="smoothies__list">
            <li class="smoothies__item">
                <img class="smoothies__picture "src="./images/section-2/card-1.png" alt="Fresh Smoothie">
                <p class="smoothies__text">Fresh Smoothie</p>
                <span class="smoothies__span">£ 13.00</span>
            </li>
            <li class="smoothies__item">
                <img class="smoothies__picture "src="./images/section-2/card-2.png" alt="Natural Juice">
                <p class="smoothies__text">Natural Juice</p>
                <span class="smoothies__span">£ 11.00</span>
            </li>
            <li class="smoothies__item">
                <img class="smoothies__picture "src="./images/section-2/card-3.png" alt="Ice Smoothie">
                <p class="smoothies__text">Ice Smoothie</p>
                <span class="smoothies__span">£ 7.00</span>
            </li>
            <li class="smoothies__item">
                <img class="smoothies__picture "src="./images/section-2/card-4.png" alt="Fresh Smoothie Cream">
                <p class="smoothies__text">Fresh Smoothie Cream</p>
                <span class="smoothies__span">£ 3.00</span>
            </li>
            <li class="smoothies__item">
                <img class="smoothies__picture "src="./images/section-2/card-5.png" alt="Fruits Smoothie">
                <p class="smoothies__text">Fruits Smoothie</p>
                <span class="smoothies__span">£ 13.00</span>
            </li>
            <li class="smoothies__item">
                <img class="smoothies__picture "src="./images/section-2/card-6.png" alt="Natural Ice Juice">
                <p class="smoothies__text">Natural Ice Juice</p>
                <span class="smoothies__span">£ 11.00</span>
            </li>
            <li class="smoothies__item">
                <img class="smoothies__picture "src="./images/section-2/card-7.png" alt="Pink Smoothie">
                <p class="smoothies__text">Pink Smoothie</p>
                <span class="smoothies__span">£ 7.00</span>
            </li>
            <li class="smoothies__item">
                <img class="smoothies__picture "src="./images/section-2/card-8.png" alt="Fresh Smoothie">
                <p class="smoothies__text">Fresh Smoothie</p>
                <span class="smoothies__span">£ 3.00</span>
            </li>
        </ul>

    </div>
</section>