<section class="section__subscribe">
    <div class="container">
        <div class="subscribe-wraper">
            <div class="subscribe">
                <img src="./images/section-3/cup.png" alt="" class="subscribe__img">
            </div>
            <div class="subscribe__block">
                <h2 class="title-second -white">Subscribe here</h2>
                <p class="text-pink">to our news and sale promotions</p>
                <form action="" class="subscribe__form">
                    <label for="">
                        <input type="text" class="subscribe__input" placeholder="Your email">
                    </label>
                    <button type="submit" class="subscribe__btn">Subscribe</button>
                </form>
            </div>
        </div>
    </div>
</section>