<section class="blog">
    <div class="container">
        <div class="blog__wraper">
            <h2 class="title-second">Recent from Blog</h2>
            <p class="text-pink">Read and follow our latest posts</p>
        </div>
        <ul class="blog__list">
            <li class="blog__item">
                <div class="blog__accent">
                <img src="./images/section-4/post-1.png" alt="Lorem ipsum dolor sit amet" class="blog__picture">
                
                    <p class="accent__text">20 Feb 19</p>
                </div>
                <h4 class="blog__title">Lorem ipsum dolor sit amet</h4>
                <p class="blog__text">Quisque vitae cursus orci, ac dignissim odio. Ut dapibus aliquam neque tempus aliquet. Orci varius natoque penatibus et
                magnis dis parturient montes, nascetur ridiculus mus.</p>
                <div class="info">
                    <p class="info__text">Posted in </p>
                    <a href="#" class="info__link">Smoothies</a>
                    <p class="info__text">by</p>
                    <a href="#" class="info__link">Admin</a>
                </div>
            </li>
            <li class="blog__item">
                <div class="blog__accent">
                <img src="./images/section-4/post-2.png" alt="Lorem ipsum dolor sit " class="blog__picture">
                <p class="accent__text">18 Feb 19</p>
                </div>
                <h4 class="blog__title -blue">Lorem ipsum dolor sit</h4>
                <p class="blog__text">Quisque vitae cursus orci, ac dignissim odio. Ut dapibus aliquam neque tempus aliquet. Orci varius natoque penatibus et
                magnis dis parturient montes, nascetur ridiculus mus.</p>
                <div class="info">
                    <p class="info__text">Posted in</p>
                    <a href="#" class="info__link">Smoothies</a>
                    <p class="info__text">by</p>
                    <a href="#" class="info__link">Admin</a>
                </div>
            </li>
            <li class="blog__item">
                <div class="blog__accent">
                <img src="./images/section-4/post.png" alt="Lorem ipsum dolor sit amet" class="blog__picture">
                <p class="accent__text">20 Feb 19</p>
                </div>
                <h4 class="blog__title">Lorem ipsum dolor sit amet</h4>
                <p class="blog__text">Quisque vitae cursus orci, ac dignissim odio. Ut dapibus aliquam neque tempus aliquet. Orci varius natoque penatibus et
                magnis dis parturient montes, nascetur ridiculus mus.</p>
                <div class="info">
                    <p class="info__text">Posted in</p>
                    <a href="#" class="info__link">Smoothies</a>
                    <p class="info__text">by</p>
                    <a href="#" class="info__link">Admin</a>
                </div>
            </li>
        </ul>
    </div>
</section>