<section class="tasty">
    <div class="tasty__background">
        <div class="container">
            <div class="tasty__block">
                <h2 class="title-second -white">Our Menu</h2>
                <p class="text-pink">Tasty and Natural</p>
            </div>
            <ul class="tasty__list">
                <li class="tasty__item">
                    <img src="./images/section-5/tasty-1.png" alt="Tasty Banana Smoothie" class="tasty__img">
                    <div class="tasty-info">
                        <h4 class="tasty-info__title">Tasty Banana Smoothie</h4>
                        <p class="tasty-info__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. ipsum dolor sit amet, consectetur adipiscing.</p>
                    </div>
                    <p class="tasty__price">$38</p>
                </li>
                <li class="tasty__item">
                    <img src="./images/section-5/tasty-2.png" alt="Tasty Banana Smoothie" class="tasty__img">
                    <div class="tasty-info">
                        <h4 class="tasty-info__title">Tasty Banana Smoothie</h4>
                        <p class="tasty-info__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. ipsum dolor sit amet, consectetur adipiscing.</p>
                    </div>
                    <p class="tasty__price">$28</p>
                </li>
                <li class="tasty__item">
                    <img src="./images/section-5/tasty-3.png" alt="Tasty Banana Smoothie" class="tasty__img">
                    <div class="tasty-info">
                        <h4 class="tasty-info__title">Tasty Banana Smoothie</h4>
                        <p class="tasty-info__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. ipsum dolor sit amet, consectetur adipiscing.</p>
                    </div>
                    <p class="tasty__price">$31</p>
                </li>
                <li class="tasty__item">
                    <img src="./images/section-5/tasty-4.png" alt="Fresh Apples Smoothie" class="tasty__img">
                    <div class="tasty-info">
                        <h4 class="tasty-info__title">Fresh Apples Smoothie</h4>
                        <p class="tasty-info__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. ipsum dolor sit amet, consectetur adipiscing.</p>
                    </div>
                    <p class="tasty__price">$57</p>
                </li>
                <li class="tasty__item">
                    <img src="./images/section-5/tasty-5.png" alt="Tasty Banana Smoothie" class="tasty__img">
                    <div class="tasty-info">
                        <h4 class="tasty-info__title">Tasty Banana Smoothie</h4>
                        <p class="tasty-info__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. ipsum dolor sit amet, consectetur adipiscing.</p>
                    </div>
                    <p class="tasty__price">$38</p>
                </li>
                <li class="tasty__item">
                    <img src="./images/section-5/tasty-6.png" alt="Tasty Banana Smoothie" class="tasty__img">
                    <div class="tasty-info">
                        <h4 class="tasty-info__title">Tasty Banana Smoothie</h4>
                        <p class="tasty-info__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. ipsum dolor sit amet, consectetur adipiscing.</p>
                    </div>
                    <p class="tasty__price">$18</p>
                </li>
                <li class="tasty__item">
                    <img src="./images/section-5/tasty-7.png" alt="Tasty Banana Smoothie" class="tasty__img">
                    <div class="tasty-info">
                        <h4 class="tasty-info__title">Tasty Banana Smoothie</h4>
                        <p class="tasty-info__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. ipsum dolor sit amet, consectetur adipiscing.</p>
                    </div>
                    <p class="tasty__price">$91</p>
                </li>
                <li class="tasty__item">
                    <img src="./images/section-5/tasty-8.png" alt="Tasty Banana Smoothie" class="tasty__img">
                    <div class="tasty-info">
                        <h4 class="tasty-info__title">Tasty Banana Smoothie</h4>
                        <p class="tasty-info__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. ipsum dolor sit amet, consectetur adipiscing.</p>
                    </div>
                    <p class="tasty__price">$28</p>
                </li>
            </ul>

        </div>
    </div>
</section>