<section class="slick">
    <div class="container">
        <div class="slider-box">
            <h2 class="title-second">Testimonials</h2>
            <p class="text-pink">What other say about us</p>
        </div>
        <div class="slider">
            <div class="wraper-slider">
                <div class="slider-content">
                    <h5 class="slider-content__title">Ava Addams</h5>
                    <p class="slider-content__text">Lelit. Etiam eget feugiat ante. Mauris vestibulum turpis purus,
                        vulputate
                        vehicula magna aliquet et. Etiam in arcu ut
                        tellus fringilla blandit.</p>
                        <a href="" class="slider-content__link">More details</a>
                </div>
            </div>
            <div class="wraper-slider">
                <div class="slider-content">
                    <h5 class="slider-content__title">Stiv Oscar</h5>
                    <p class="slider-content__text">Lelit. Etiam eget feugiat ante. Mauris vestibulum turpis purus,
                        vulputate
                        vehicula magna aliquet et. Etiam in arcu ut
                        tellus fringilla blandit.</p>
                </div>
            </div>
            <div class="wraper-slider">
                <div class="slider-content">
                    <h5 class="slider-content__title">Julia Brukton</h5>
                    <p class="slider-content__text">Lelit. Etiam eget feugiat ante. Mauris vestibulum turpis purus,
                        vulputate
                        vehicula magna aliquet et. Etiam in arcu ut
                        tellus fringilla blandit.</p>
                </div>
            </div>

        </div>
    </div>

</section>