
.hero__block{
    display: flex;
    padding-left: max(15px, calc((100% - 1180px)/2))
}
.left{
    flex-shrink: 0;
}
.right{
    width: calc(100% + 370px);
}
.detox__block{
    position: absolute;
    bottom: 600px;
    left: 200px;
}
.detox__text{
    position: absolute;
    font-family: 'Waiting for the Sunrise';
    font-style: normal;
    font-weight: 300;
    font-size: 260px;
    line-height: 430px;
    letter-spacing: 1.7;
    color:$white-color;
    z-index: 3;

}
.detox__text::after{
    content: "";
    display: block;
    position: absolute;
    width: 139px;
    height: 139px;
    border-radius: 50%;
    background-color: $green-light;
    top: 80px;
    left: -50px;
    z-index: -1;
    

}
.detox__text::before{
    content: "solution";
    display: block;
    position: absolute;
    font-family: 'Waiting for the Sunrise';
    font-style: normal;
    font-weight: 300;
    font-size: 60px;
    line-height: 99px;
    letter-spacing: 10px;
    color:$main-color;
    bottom: 40px;
    right: -50px;

}
.fresh__block{
    position: absolute;
    top: 280px;
    right: 400px
}
.fresh__text{
    position: relative;
    font-family: 'Waiting for the Sunrise';
    font-style: normal;
    font-weight: 300;
    font-size: 170px;
    line-height: 1.7;
    color: $pink-color-light;
    z-index: 3;
}
.fresh__text::after{
    content: "";
    display: block;
    position: absolute;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background-color: #FEE9EF;
    top: 15px;
    left: 50px;
}
.fresh__text::before{
    content: "";
    display: block;
    position: absolute;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background-color: $green-light;
    bottom: -110px;
    left: 180px;
}
