
  .header__burger-btn {
    position: relative;
    width: 80px;
    height: 80px;
    border: 3px solid $blue-color;
    border-radius: 50%;
    background-color: transparent;
    z-index: 3;
  }
  .burger__svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    fill: $pink-color-dark;
  }



.header {
  position: relative;
}
.nav__block {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 112px;
  
}
.nav__list {
  display: flex;
  gap: 30px;
  
}
.nav__link {
  font-size: 18px;
  line-height: 22px;
  color: $main-color;
}
.nav__link:hover {
  color: $pink-color-dark;
}
.nav__link:focus {
  color: $pink-color-dark;
}
.nav__logo {
  max-width: 224px;
  height: 73px;
}
