
.header {
  // position: relative;
  
}
.nav__block {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 112px;
  padding-top: 40px;
  
}
.header__burger-btn{
  display: none;
}
.nav__list {
  display: flex;
  gap: 30px;
  
}
.nav__link {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.2;
  color: $main-color;
  padding: 10px;
  transition: all .4s;
}
.nav__link:hover {
  color: $pink-color-dark;
  
}
.nav__link:focus {
  color: $pink-color-dark;
}
.nav__logo {
  max-width: 224px;
  height: 73px;
}
